header {
    background: rgb(255, 198, 0);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Avenir-Black;
    min-width: 100%;
}

.header-wrapper, .main-wrapper, .footer-wrapper-top, .footer-wrapper-bottom {
    padding: 0 25px;
}

main {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*      header      */
header .top-menu-container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
}

.top-menu-items-container {
    width: 100%;
    max-width: 1110px;
    display: flex;
    margin-top: 20px;
}

.top-menu, .items-column, .items-block-container {
    width: 100%;
}

.top-menu .top-menu-items-block {
    flex-direction: column;
    width: 100%;
}

.items-row {
    display: flex;
    width: 100%;
}

.hamburger-input, .hamburger {
    visibility: hidden;
}

.top-menu input, .top-menu select {
    padding: 10px 5px;
    border-radius: 2px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 0 3px 3px -3px black;
    box-sizing: border-box;
}

.top-menu select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    -o-appearance: none;
    appearance: none;
}

.top-menu select::-ms-expand {
    display: none;
}

.top-menu .logo-container {
    width: 100%;
    max-width: 155px;
    margin-right: 10px;
}

.top-menu .logo-container a, .top-menu .logo-container img {
    width: 100%;
}

.top-menu .product-container {
    width: 100%;
    max-width: 150px;
    color: white;
    margin: 0 5px;
    position: relative;
}

.top-menu .product-container select.product {
    padding-right: 15px;
    width: 100%;
}

.top-menu .product-container div.arrow-img {
    background: url('Images/sprites.png') -10px -10px transparent no-repeat;
    width: 100%;
    max-width: 10px;
    height: 7px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    right: 5px;
}

.top-menu .search-container {
    max-width: 900px;
    min-width: 80px;
    width: 100%;
    position: relative;
    margin: 0 5px;
}

.top-menu .search-container input.searchField {
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 25px 10px 5px;
}

.top-menu .search-container .searchLink {
    background: url('Images/sprites.png') -182px -10px transparent no-repeat;
    width: 100%;
    max-width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.top-menu .log-container {
    width: 100%;
    max-width: 90px;
    margin: 0 5px;
    position: relative;
}

.top-menu .log-container input.inloggen {
    padding-left: 20px;
    color: black;
    width: 100%;
    background-color: white;
}

.top-menu .log-container div.log-img {
    background: url("Images/sprites.png") -226px -10px transparent no-repeat;
    width: 100%;
    max-width: 25px;
    height: 23px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
}

.top-menu .btw-container {
    width: 100%;
    max-width: 85px;
    margin: 0 5px;
}

.top-menu .btw-container input {
    width: 100%;
}

.top-menu .card-container {
    width: 100%;
    max-width: 85px;
    margin-left: 5px;
    position: relative;
}

.top-menu .card-container select.card {
    background: black;
    width: 100%;
}

.top-menu .card-container div.card-img {
    background: url('Images/sprites.png') transparent -385px -10px no-repeat;
    width: 100%;
    max-width: 46px;
    height: 33px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25%;
}

.top-menu .card-container div.arrow-card-img {
    background: url('Images/sprites.png') transparent -10px -10px no-repeat;
    width: 100%;
    max-width: 10px;
    height: 7px;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 25%;
}

.top-menu .header-info {
    width: 100%;
    margin: 8px 0 8px 5px;
}

body span.car {
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url('Images/sprites.png') -145px -10px;
}

body span.phone {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('Images/sprites.png') -74px -10px;
}

body span.like {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url('Images/sprites.png') -109px -10px;
}

/*      first-block     */
.left-side-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.left-side-menu a, footer a {
    text-decoration: none;
    color: black;
}

.left-side-menu a:active, footer a:active {
    color: red;
}

.left-side-menu a:hover, footer a:hover {
    color: lightslategray;
}

.left-side-menu li {
    list-style-type: none;
    padding: 6.5px 0;
}

.left-side-menu li:first-child {
    padding-top: 0;
}

.left-side-menu li:last-child {
    padding-bottom: 0;
}

.nav-container {
    display: flex;
    margin: 50px 0 40px 0;
}

.menu-container {
    width: 100%;
    max-width: 325px;
}

.right-content {
    width: 100%;
    max-width: 1000px;
}

.right-content .two-block-container-66-33, .two-block-container-50-50 {
    width: 100%;
    display: flex;
}

.block-66, .block-33, .block-50 {
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
}

.right-content .block-66 {
    max-width: 780px;
    margin-right: 10px;
    padding: 30px 35px 30px 35px;

}

.right-content .block-33 {
    max-width: 255px;
    padding: 15px 0 35px 35px;
}

.block-66 .block-66-items-container, .block-50-items-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.block-66-items-container div.imageContainer {
    width: 100%;
    max-width: 148px;
    min-width: 90px;
}

.block-66-items-container div.imageContainer img {
    width: 100%;
}

.block-66-items-container .infoContainer {
    width: 100%;
    align-self: flex-start;
}

.block-66-items-container .infoContainer input {
    margin-top: 10px;
}

.right-content span {
    display: block;
}

.right-content input {
    background-color: black;
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 10px;
}

.right-content input:active {
    color: red;
}

.right-content input:hover {
    background-color: lightslategray;
}

.right-content .block-33 .schedule {
    width: 100%;
    display: flex;
}

.right-content .block-33 span.title-logo {
    width: 100%;
    display: block;
    padding-top: 10px;
    margin-left: -20px;
}

.schedule ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.text-block {
    margin-top: 5px;
    width: 100%;
}

.schedule ul:first-child {
    margin: 0 15px 0 0;
}

.two-block-container-50-50 {
    margin-top: 10px;
}

.block-50 {
    max-width: 390px;
    padding: 65px 35px 50px 35px;
}

.two-block-container-50-50 .block-50:first-child {
    margin-right: 10px;
}

.block-50 div.image-50-first {
    width: 100%;
    max-width: 121px;
    min-width: 110px;
}

.block-50 div.image-50-second {
    width: 100%;
    max-width: 94px;
    min-width: 75px;
}

.block-50 div.imageContainer img, .block-50 div.infoContainer .text-block {
    width: 100%;
}

.block-50 div.infoContainer {
    width: 100%;
    max-width: 200px;
}

.block-50 input {
    margin-top: 10px;
}

/*      second-block        */
.slider-container {
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 40px;
}

.slider-container .title {
    width: 100%;
    padding: 10px 0 5px 25px;
}

.slider .slick-prev::before, .slider .slick-next::before {
    content: ' ';
}

.slider button.slick-prev, button.slick-next {
    width: 40px;
    height: 40px;
}

.slider button.slick-prev {
    background: url("Images/sprites.png") -328px -10px no-repeat;
    z-index: 1;
}

.slider button.slick-next {
    background: url("Images/sprites.png") -271px -10px no-repeat;
}

.slider ul {
    padding: 50px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.slider ul li:first-child {
    padding-bottom: 5px;
}

.slider {
    width: 100%;
    border-top: 1px solid #e7e7e7;
    display: flex;
}

.slide {
    vertical-align: center;
    padding: 35px 0 10px 0;
    border-right: 1px solid #e7e7e7;
}

.slider div.slick-current .slide {
    border-left: none;
}

.slider div[aria-hidden="true"] .slide {
    border: none;
}

.image, .text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sender-slide ul {
    width: 100%;
    max-width: 150px;
}

.detector-slide ul {
    width: 100%;
    max-width: 140px;
}

span.clock {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('Images/sprites.png') -40px -10px;
}

/*      third-block     */
.posters-container {
    display: flex;
    margin-bottom: 40px;
}

.poster {
    width: 100%;
    max-width: 640px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    position: relative;
    padding: 15px 25px 15px 25px;
    box-sizing: border-box;
    min-height: 225px;
}

.posters-container .f-bigger {
    line-height: 40px;
}

.poster .label {
    color: white;
}

.poster-one {
    background: url("Images/Foto2.png") no-repeat top;
    margin-right: 10px;
}

.poster-two {
    background: url("Images/Foto1.png") no-repeat top;
}

/*      footer      */
footer {
    background-color: rgb(245, 245, 245);
    width: 100%;
}

footer .footer-content, .end-content {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-content {
    align-items: flex-start;
    padding-bottom: 30px;
}

.footer-content .footer-logo {
    padding-top: 45px;
}

div.footer-column {
    padding-top: 25px;
}

div.footer-column-1 {
    margin-right: 80px;
}

.footer-column-2 {
    margin-right: 90px;
}

.footer-column-3 {
    margin-right: 40px;
}

.footer-column-4 {
}

.footer-logo div {
    display: flex;
    width: 100%;
    max-width: 215px;
}

.footer-logo .s-bigger {
    max-width: 135px;
    width: 100%;
}

.footer-logo .s-smaller {
    max-width: 60px;
    width: 100%;
}

.logo-row a:first-child {
    margin-right: 30px;
}

.footer-logo .first-logos {
    padding-bottom: 10px;
}

.footer-column-3 input {
    padding: 15px 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 250px;
}

.footer-column-3 input[type="button"] {
    padding: 15px 85px;
    color: white;
    background-color: black;
}

footer .footer-end {
    width: 100%;
    background-color: white;
}

.last {
    background-color: white;
}

.footer-content dd {
    margin: 0;
}

.footer-content dt {
    padding-bottom: 5px;
}

.footer-end p {
    margin: 10px 0;
}

footer input::placeholder, header input::placeholder, input, select {
    font-family: Avenir-Black;
    color: rgb(170, 170, 170);
    /*font-weight: bold;*/
    /*padding: 5px;*/
}

.top-menu-items input:-ms-input-placeholder, input:-ms-input-placeholder {
    /*font-weight: bold;*/
    color: rgb(170, 170, 170) !important;
}

.sign {
    margin-bottom: -2px;
}

/*      Fonts       */

@font-face {
    font-family: Avenir-Black;
    src: url(Fonts/Avenir-Black.woff);
}

.f-bigger {
    font-size: 40px;
}

.f-big {
    font-size: 32px;
}

.f-smaller {
    font-size: 12px;
    /* font-weight: bold;*/
}

.f-small {
    font-size: 14px;
    /*font-weight: bold;*/
}

.f-medium {
    font-size: 24px;
    /* font-weight: bold;*/
}

@media only screen and (max-width: 1023px ) {

    .two-block-container-66-33, .two-block-container-50-50, .posters-container {
        flex-direction: column;
        justify-content: center;
    }

    .two-block-container-66-33, .block-66 .infoContainer span.f-big {
        font-size: 4vw;
    }

    .right-content .block-50, .right-content .block-66, .right-content .block-33 {
        max-width: 1000px;
    }

    .block-50-items-container {
        justify-content: center;
    }

    .right-content .block-33 {
        padding-left: 0;
        text-align: center;
        margin-top: 10px;
    }

    .poster {
        margin: 0;
        max-width: 1100px;
        text-align: center;
    }

    .right-content .block-50:last-child, .posters-container .poster-two {
        margin-top: 10px;
    }

    .schedule {
        justify-content: center;
    }

    .footer-content {
        flex-wrap: wrap;
    }

    .card-container, .btw-container, .product-container, .header-info {
        display: none;
    }

    div.footer-column {
        flex-basis: 50%;
        margin: 0;
    }

    div.footer-column:nth-child(even) {
        position: relative;
    }

    div.footer-column:nth-child(even) > div {
        position: absolute;
        right: 0;
    }
}

@media only screen and (max-width: 639px ) {

    .two-block-container-66-33, .block-66 .infoContainer span.f-big {
        font-size: 5vw;
    }

    div.footer-column {
        flex-basis: 100%;
        margin: 0;
        text-align: center;
    }

    div.footer-logo {
        display: inline-block;
    }

    div.footer-column:nth-child(even) > div {
        position: inherit;
    }

    .end-content {
        flex-direction: column;
        justify-content: center;
    }

    .nav-container {
        flex-direction: column;
    }

    .hamburger-input, .hamburger {
        visibility: visible;
    }

    .left-side-menu a {
        transition: color 0.3s ease;
    }

    .left-side-menu {
        display: block;
        position: relative;
        top: 0;
        left: -10px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    .left-side-menu input.hamburger-input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -5px;
        left: 5px;

        cursor: pointer;

        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;
    }

    span.hamburger {
        display: block;
        width: 33px;
        height: 4px;
        margin: 0 0 5px 10px;
        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    span.hamburger:first-child {
        transform-origin: 0% 0%;
    }

    span.hamburger:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .left-side-menu input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    .left-side-menu input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .left-side-menu input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .left-side-menu .menu {
        position: absolute;
        width: 300px;
        padding: 50px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-200%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .left-side-menu input:checked ~ ul {
        transform: none;
    }
}

/*selectmenu */
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
    padding: 0.5em 0 0.5em 3em;
}

.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
    height: 24px;
    width: 24px;
    top: 0.1em;
}

.ui-selectmenu-icon.ui-icon, li.ui-state-disabled {
    display: none;
}

.ui-selectmenu-button.ui-button, .ui-selectmenu-button.ui-button:hover, .ui-selectmenu-button.ui-button:focus {
    width: 100% !important;
    padding: 10px 15px 10px 5px;
    border-radius: 2px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 0 3px 3px -3px black;
    box-sizing: border-box;
    font-family: Avenir-Black;
    font-size: 14px;
}

/* select with CSS avatar icons */
.optionImage .ui-icon {
    background: url("Images/smoke detectors.png") left top no-repeat !important;
    background-size: contain !important;
}

option.optionImage {
    padding-left: 20px;
}





